.blog__title {
    font-family: 'Dangrek', cursive;
    font-size: 34px;
    text-align: center;
    color: #a38e84;
}

.blog__name {
    font-family: 'Dangrek', cursive;
    font-size: 25px;
    text-align: center;
    color: #a38e84;
}

.blog__description {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #a38e84;
    text-align: center;
}

.article__title {
    font-family: 'Dangrek', cursive;
    font-size: 22px;
    font-weight: 400;
    color: #a38e84;
}

.blog {
    padding: 60px 24px;
    text-align: left;
    background-color: #e8d1c5;
}

.blog__articles img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 6px;
    margin-top: 40px;
}

.article__description {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: #a38e84;
    margin-top: 20px;
}

.blog__button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #b67256;
    color: #a38e84;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.blog__button:hover {
    background-color: #b67256;
}

.blog__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    .blog__articles {
        grid-template-columns: 1fr 1fr;
    }

    .blog__title {
        font-size: 17px;
    }

    .blog__name {
        font-size: 41px;
    }

    .article__title {
        font-size: 24px;
    }
}

@media (min-width: 998px) {
    .blog__articles {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .blog__title {
        font-size: 21px;
    }

    .blog__name {
        font-size: 48px;
    }

    .article__title {
        font-size: 26px;
    }
}